<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title> Login </title>
</head>
<body>
    
    <form method="post">
        {% csrf_token %}
        <h1> LOGIN </h1>
        
        <div class="form-group">
            {{form.as_p}}
        </div>

        <button type="submit"> Entrar a la Cancha </button> 
        <br>
        <a href="{% url 'usuario:signup' %}"> ¿No tienes cuenta? Regístrate aquí </a>
    </form>

</body>
</html>